body {
    background-color: #F9F9FA;
    color: #3A4145;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin-left:15%;
    margin-right: 15%;

}
header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    padding: 15px;
}
header h3:hover {
    cursor: pointer;
    text-decoration: underline;
}
header img {
    width: 5.5em;
    border-radius: 3px;

}
#main {
    padding: 15px;
    color: #3A4145;
}
ul {
    list-style:none;
}

.item {
    padding: 15px;
    border-radius: 5px;
    margin: 9px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.item a {
    padding: 7px 9px;
    border-radius: 5px;
    text-decoration: none;
    color: #3A4145;
    background-color: #f3f3f3;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.item a:hover {
    text-decoration: underline;
}

/* BLOG */
#blog {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#blog li {
    width: 300px;
    padding-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
#blog span {
    display: block;
    text-decoration: underline;
    font-size: larger;
}
#blog time {
    font-size: smaller;
}
#blog a {
    color: #282828;
    background-color: #f3f3f3;
    text-decoration: none;
    padding: 7px 9px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
}
#blog a:hover {
    text-decoration: underline;
}
footer {
    margin: 40px;
    color: #888;
    display: flex;
}
footer ul {
    display: flex;
    flex-direction: row;
}
footer a {
    color: #888;
    margin: 2px;
}

/* MISC */
i {
    margin: 5px;
}
#theme {
    padding: 7px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
a.disabled {
    pointer-events: none;
    color: #888;
    text-decoration: line-through;
}

 @media only screen and (max-width:800px) {
body {
    margin-right: 8px;
    display: block;
    margin-left: 8px;
}
header {
    position: static;
}
#main {
    margin-left: 0;
}
 }