body {
    background-color: #F9F9FA;
    color: #3A4145;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;

}
header {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    padding: 15px;
}

header img {
    width: 5.5em;
    border-radius: 3px;

}
#main {
    padding: 15px;
    color: #3A4145;
}
ul {
    list-style:none;
}
#books ul {
    list-style: circle;
}
.item {
    padding: 15px;
    border-radius: 5px;
    margin: 9px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.banner {
    height: 5em;
    border-radius: 3px;
}

i {
    margin: 5px;
}

 @media only screen and (max-width:800px) {
body {
    margin-right: 8px;
    display: block;
    margin-left: 8px;
}
header {
    position: static;
}
#main {
    margin-left: 0;
}
 }