<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avi Rana</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/c57dc26725.js" crossorigin="anonymous"></script>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
    
       i {
        margin-right: 5px;
       } 

    </style>
</head>
<body class="p-2 bg-[#212223] text-[#fff] font-['Sora'] ">
    <nav>
        <h1 class="text-4xl py-0.5 my-4 rounded font-bold">AVI RANA</h1>
    </nav>

    <ul class="py-1">
        <li class="mx-1 underline hover:text-[#5A71BF]"><a href="#"><i class="fa-brands fa-github"></i>Github</a></li>
        <li class="mx-1 underline hover:text-[#5A71BF]"><a href="#"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>

    </ul>
</body>
</html>