@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

nav {
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
}
nav h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
}
.underline {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}