@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hack", monospace;
  background-color: #15151a;
  color: #f3f4f6;
  margin: 0 25vw;
  padding: 10px;
}

.blogLink {
  color: #4f7ed1;
}
.blogLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }
}
